In [149]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.tree import export_graphviz
from sklearn import tree

In [150]:
data = pd.read_csv('./train.csv')

In [151]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [161]:
data.head()

   Survived  Pclass   Age     Fare  Fam  Gender_male  Embarked_Q  Embarked_S
0         0       3  22.0   7.2500    1         True       False        True
1         1       1  38.0  71.2833    1        False       False       False
2         1       3  26.0   7.9250    0        False       False        True
3         1       1  35.0  53.1000    1        False       False        True
4         0       3  35.0   8.0500    0         True       False        True

In [153]:
data.shape

(891, 12)

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Age          714 non-null    float64
 3   Fare         891 non-null    float64
 4   Fam          891 non-null    int64
 5   Gender_male  891 non-null    bool
 6   Embarked_Q   891 non-null    bool
 7   Embarked_S   891 non-null    bool
dtypes: bool(3), float64(2), int64(3)
memory usage: 37.5 KB

changing sex to gender

In [155]:
def genderize(df):
    df.rename(columns={'Sex': 'Gender','sex':'gender'},inplace=True)
genderize(data)

In [156]:
def drop_unrelevant_cols(df):
    df.drop(columns=['Name', 'PassengerId','Ticket'], axis=1, inplace=True)

In [157]:
def dummy_cols (df):
    df= pd.get_dummies(data=df, columns=['Gender','Embarked'], drop_first=True)
    return df

In [158]:
#combining Sbps and Parch into Fam
def combining_sbps_parch_to_fam(df):
    df['Fam']= df['Parch'] + df['SibSp']
    df.drop(['Parch', 'SibSp'], axis=1, inplace=True)

In [159]:
def drop_cabin(df):
    df.drop(columns=['Cabin'], axis=1, inplace=True)

In [160]:
genderize(data)
drop_unrelevant_cols(data)
combining_sbps_parch_to_fam(data)
data = dummy_cols(data)
drop_cabin(data)